/* This is for the DataCamp blocks */
p code {
  white-space: inherit;
}

pre {
  word-break: normal;
  word-wrap: normal;
}

pre code {
  white-space: inherit;
}

.caption {
  color: #777;
  margin-top: 10px;
}

/****************************************
/* DIV Note Box (grsnote)
/***************************************/
.grsnote {
padding: 1em 1em 1em 3em;
  margin-bottom: 10px;
  background: #ffff99; /* pale yellow */
  font-weight: bold;
  line-height: 150%;
  position:relative;
}

.grsnote:before {
    content: "\f14b"; /* pencil */
    font-family: FontAwesome;
    left:10px;
    position:absolute;
    top:24px;
    font-size: 36px;
}

/****************************************
/* DIV Warn Box (grswarn)
/***************************************/
.grswarn {
padding: 1em 1em 1em 3em;
  margin-bottom: 10px;
  background: #ffcccc; /* pale red */
  font-weight: bold;
  line-height: 150%;
  position:relative;
}

.grswarn:before {
    content: "\f06a"; /* exclaimation mark */
    font-family: FontAwesome;
    left:10px;
    position:absolute;
    top:24;
    font-size: 36px;
}
